---
layout: default
title: Page Title
category:
 - category_image: /images/photo-1.jpg
   description: Earrings
 - category_image: /images/photo-2.jpg
   description: Rings
 - category_image: /images/photo-2.jpg
   description: Necklaces
 - category_image: /images/photo-1.jpg
   description: Bracelets
product:
 - product_image: /images/photo-1.jpg
   name: Product Title 1
   price: £Price
 - product_image: /images/photo-2.jpg
   name: Product Title 2
   price: £Price
 - product_image: /images/photo-1.jpg
   name: Product Title 1
   price: £Price
 - product_image: /images/photo-1.jpg
   name: Product Title 1
   price: £Price
 - product_image: /images/photo-2.jpg
   name: Product Title 2
   price: £Price
 - product_image: /images/photo-1.jpg
   name: Product Title 1
   price: £Price
 - product_image: /images/photo-1.jpg
   name: Product Title 1
   price: £Price
 - product_image: /images/photo-2.jpg
   name: Product Title 2
   price: £Price
seo:
 meta-description: 
 keywords:
 social_image:
 twitter_description:
 type: website
 hide-from-google: false
banner_image: /images/photo-1.jpg
---


<!-- Hero banner -->
<section class="bg-cover bg-center svh relative" style="background-image: url('{{page.banner_image}}');">
  <div class="absolute bottom-8 left-8">
    <h1 class="text-white text-2xl lg:text-4xl">Chromo-Dope</h1>
    <a href="#" class="button text-white mt-2 lg:mt-4">Discover</a>
  </div>
</section>



<!-- Introduction text section -->
<section class="px-10 lg:px-20 py-16 lg:py-24 min-h-70 flex items-center justify-center">
  <div class="text-center md:w-2/3 lg:w-[40%] mx-auto">
    <h3 class="text-xl">Lorem ipsum dolor sit amet, consectetur a
      dipiscing elit. Cras vel enim in risus ultrices conv
      allis. Proinat tellus vitae urna congue sollicitudin sed sed mi. Phasellus aliquam, dui nec scelerisque blandit.</h3>
  </div>
</section>



<!-- Categories Section ------>
<section class="px-8 lg:px-28 pb-10 lg:pb-20">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    {% for item in page.category %}
    <a href="#" class="block">
      <div class="overflow-hidden"> <!-- removed a h-80 here, because it was creating empty space between image and description ------>
        <img src="{{item.category_image}}" alt="" class="h-90 w-full object-cover object-center ">
      </div>
        <p class="uppercase text-xl mt-2">{{item.description}}</p>
    </a>
    {% endfor %}

  </div>
</section>


<!-- Feature section ------->
<section class="grid grid-cols-1 md:grid-cols-2">
  <!-- Top-Left Image -->
  <div class="bg-cover bg-center h-60 md:h-screen" style="background-image: url('{{page.banner_image}}');"></div>

  <!-- Top-Right Text -->
  <div class="bg-green-100 flex items-end py-12 px-5 h-60 md:h-screen border border-light-gray">
    <div class="text-left">
      <p class="text-gray-800 mb-8 text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus blanditiis iste fugiat! Non consequatur, aut quo eius commodi in ab quaerat ut dignissimos alias necessitatibus, beatae a vitae, deserunt vel.
      </p>
      <a class="inline-block border border-black py-1.5 px-2">Discover</a>
    </div>
  </div>

  <!-- Bottom-Left Image -->
  <div class="bg-purple-100 md-flex justify-center items-center h-60 md:h-screen">
    <img src="/images/photo-2.jpg" alt="" class="w-1/2 object-cover object-center h-60">
  </div>

  <!-- Bottom-Right Image -->
  <div class="bg-cover bg-center h-60 md:h-screen" style="background-image: url('{{page.banner_image}}');"></div>
</section>


<!--SHOP section -->
<section class="py-12 md:py-16 px-8">
  <h2 class="text-2xl mb-4">Shop New In</h2>
   <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
     
    {% for item in page.product %}
    <!--Tile 1-->
    <a href="#" class="block">
      <img src="{{item.product_image}}" alt="" class="object-cover object-center aspect-square border border-yellow-50"> 
      <div class="md:flex justify-between items-center mt-1">
        <h4>{{item.name}}</h4> 
        <p>{{item.price}}</p> 
      </div>
    </a>
    {% endfor %}

     
                                                                                
  </div>
</section>




<!--  Banner section ---->
<section class="bg-cover bg-center h-70" style="background-image: url('{{page.banner_image}}');">
</section>
